{% extends 'expense/base.html' %}
{% block title %}Add a New Category{% endblock %}

{% block content %}
<h3>Add a New Category</h3>

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Category</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'expense/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is Expense Manager?</h3>
                    <p>Expense Manager is a blah blah blah...</p>
                    <h3>How do I add expense item?</h3>
                    <p>First, do whatever you should do...</p>

                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}